extends ../layout

block constants
  - const htmlClass = `html-server`;
  - const bodyClass = `body-server`;
  - const contentClass = null;

block content
  section.error
    h1.error__title 500
    h2.error__subtitle Ошибка cервера
    include ../partials/error-page-content

block header

block footer
